@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.cdnfonts.com/css/georgia");

/*

font-family: "Lato", sans-serif;
font-family: 'Georgia', sans-serif;
font-family: "Yeseva One", serif;

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-yeseva);
}

:root {
    --white-clr: rgb(255, 255, 255);
    --black-clr: rgb(0, 0, 0);
    --gold-clr: rgb(204, 153, 0);
    --transition-02s: all 0.2s;
    --scale-up: 1.05;
    --scale-down: 0.95;
    --font-lato: "Lato", sans-serif;
    --font-yeseva: "Yeseva One", serif;
}

::-webkit-scrollbar {
    display: none;
}

/** Global CSS Start **/

.text-h1 {
    font-size: 90px;
}

.text-h2 {
    font-size: 50px;
}

.text-h3 {
    font-size: 30px;
}

.text-gold {
    color: var(--gold-clr);
}

/* Spacial Menu Card Design */
@container style(--isSpacial: true) {
    .food-category > div::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        color: var(--white-clr);
        background-color: transparent;
        outline: 1px solid var(--gold-clr);
        outline-offset: 5px;
        border-radius: 2px;
        border-top-right-radius: 0;
    }

    .food-category > div::after {
        content: "Spacial";
        position: absolute;
        top: -33px;
        right: -6px;
        color: var(--white-clr);
        background-color: var(--gold-clr);
        padding: 5px 20px;
        font-size: 12px;
        letter-spacing: 3px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
}

/** Global CSS End **/

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    width: 100vw;
    height: auto;
}

/* Header & Home Section Background */
.header-home {
    color: var(--white-clr);
    background: url(../img/background_1.jpg) center/cover;
}

/* Design Header Section */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding-inline: 5%;

    background: linear-gradient(
        to bottom,
        rgba(from var(--black-clr) r g b / 0.6),
        rgba(from var(--black-clr) r g b / 0.5),
        rgba(from var(--black-clr) r g b / 0.4),
        rgba(from var(--black-clr) r g b / 0.3),
        rgba(from var(--black-clr) r g b / 0.2),
        rgba(from var(--black-clr) r g b / 0.1),
        rgba(from var(--black-clr) r g b / 0),
        rgba(from var(--black-clr) r g b / 0)
    );
}

/* Logo Customization */
.logo {
    height: 100%;
    padding-block: 4px;
    cursor: pointer;

    & img {
        height: 100%;
    }
}

/* Design Navbar */
header ul {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    height: 100%;
}

/* Navbar Items */
header ul li {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
}

/* Navbar Links */
header ul li a {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--white-clr);
    padding-inline: 20px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    transition: var(--transition-02s);

    &:hover {
        scale: var(--scale-up);
    }

    &:active {
        scale: var(--scale-down);
    }
}

/* Design Active Nav Item */
header ul li:first-child {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--white-clr);
    }
}

/* Design Social Media Icons */
.icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.icons i {
    padding: 10px;
    border: 2px solid var(--white-clr);
    border-radius: 50%;
    transition: var(--transition-02s);
    cursor: pointer;

    &:hover {
        color: var(--gold-clr);
        background-color: rgba(from var(--black-clr) r g b / 0.3);
        border-color: var(--gold-clr);
        scale: var(--scale-up);
    }

    &:active {
        scale: var(--scale-down);
    }
}

.home-section {
    gap: 20px;
    padding: 10% 15%;
}

.home-section h1 {
    margin-bottom: 30px;
    text-shadow: 0 3px 2px rgba(from var(--black-clr) r g b / 0.5);
}

.home-section img {
    margin-bottom: 40px;
}

.home-section-buttons {
    display: flex;
    gap: 50px;
}

.home-section-buttons button {
    font-size: 20px;
    padding: 10px 40px;
    text-transform: uppercase;
    border: 2px solid;
    font-family: var(--font-lato);
    transition: var(--transition-02s);

    &:first-child {
        color: var(--white-clr);
        background-color: rgba(from var(--black-clr) r g b / 0.45);
        border-color: var(--black-clr);
    }

    &:last-child {
        color: var(--black-clr);
        background-color: rgba(from var(--white-clr) r g b / 0.3);
        border-color: var(--white-clr);
    }

    &:hover {
        scale: var(--scale-up);
    }

    &:active {
        scale: var(--scale-down);
    }
}

.chef-section {
    display: flex;
    align-items: center;
    padding: 10%;
    background: url(../img/pattern-1.jpg) center;
}

.chef {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chef h2 {
    margin-bottom: 20px;
}

.chef .divider {
    margin-bottom: 40px;
    scale: var(--scale-up);
}

.chef p {
    font-size: 20px;
    margin-bottom: 40px;
    font-family: var(--font-lato);
}

.fine-ingredients {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10%;
    background: url(../img/background_2.jpg) center/cover;
}

.fine-ingredients-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
    width: 70%;
    color: var(--white-clr);
    background-color: rgba(from var(--black-clr) r g b / 0.6);
    border-radius: 5px;
}

.fine-ingredients-right h2 {
    margin-bottom: 20px;
}

.fine-ingredients-right > img {
    margin-bottom: 30px;
}

.fine-ingredients-right p {
    font-size: 20px;
    font-family: var(--font-lato);
    margin-bottom: 70px;
}

.spice {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.spice img {
    display: inline-block;
    height: 130px;
    border-radius: 50%;
    border: 3px solid rgba(from var(--white-clr) r g b / 0.3);

    &:hover {
        border-color: var(--white-clr);
    }
}

.food-menu-section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    background: url(../img/pattern-2.jpg);
    padding: 5% 10%;
}

.food-menu-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 5%;
}

.food-category {
    width: 100%;
}

.food-category > div {
    position: relative;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
}

.food-category > div > a {
    position: relative;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
}

.food-category > div > p {
    position: relative;
    color: rgba(from var(--black-clr) r g b / 0.7);
    font-family: var(--font-lato);
    z-index: 1;
}

.guest-reviews {
    width: 100%;
    padding: 7% 10%;
    background: url(../img/background_3.jpg) center/cover no-repeat;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 5% 7%;
    margin: auto;
    background-color: rgba(from var(--black-clr) r g b / 0.6);
    text-align: center;
}

.reviews h2 {
    margin-bottom: 20px;
    text-transform: capitalize;
}

.reviews > img {
    margin-bottom: 30px;
}

.reviews > div > p {
    position: relative;
    font-size: 23px;
    line-height: 2;
    margin-bottom: 30px;
}

.reviews > div > p > img {
    position: absolute;
    top: -20px;
    left: -50px;
    filter: contrast(0);
}

.reviews > div > span {
    font-family: var(--font-lato);
}
